@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background-color: transparent;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background-color: #0f172a67;
  border-radius: 10px;
}

#loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loader path:nth-child(1) {
  stroke-dasharray: 200%;
  stroke-dashoffset: 200%;
  animation: strokeAnimate 1s 0s ease forwards;
}

#loader path:nth-child(2) {
  stroke-dasharray: 200%;
  stroke-dashoffset: 200%;
  animation: strokeAnimate 0.5s 0.2s ease forwards;
}

#loader path:nth-child(3) {
  stroke-dasharray: 200%;
  stroke-dashoffset: 200%;
  animation: strokeAnimate 1s 0.4s ease forwards;
}
#loader path:nth-child(4) {
  stroke-dasharray: 200%;
  stroke-dashoffset: 200%;
  animation: strokeAnimate 1.5s 0.6s ease forwards;
}
#loader path:nth-child(5) {
  stroke-dasharray: 200%;
  stroke-dashoffset: 200%;
  animation: strokeAnimate 2s 0.8s ease forwards;
}
#loader path:nth-child(6) {
  stroke-dasharray: 200%;
  stroke-dashoffset: 200%;
  animation: strokeAnimate 2.5s 1s ease forwards;
}

@keyframes strokeAnimate {
  to {
    stroke-dashoffset: 0;
  }
}
